services:
  api:
    image: simulador-credito-api
    container_name: simulador-api
    build:
      context: .
      dockerfile: Simulador_de_Credito/Dockerfile
    ports:
      - "5050:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - SEQ_URL=http://seq:5341
      - ORACLE_USER=${ORACLE_USER}
      - ORACLE_PASSWORD=${ORACLE_PASSWORD}
      - ORACLE_HOST=${ORACLE_HOST}
      - ORACLE_PORT=${ORACLE_PORT}
      - ORACLE_SID=${ORACLE_SID}
    volumes:
      - ./Simulador_de_Credito/logs:/app/logs
    depends_on:
      - seq

  seq:
    image: datalust/seq:latest
    container_name: simulador-seq
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=${SEQ_ADMIN_PASSWORD}
    ports:
      - "5341:80"
    volumes:
      - seq-data:/data

volumes:
  seq-data: